{% extends "base_generic.html" %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% block content %}
<div class="container bg-warning">
<div class="w-75">
<h1 class="text-danger">NITT CART</h1>
<p class="text-info">Welcome to <em>NITT's Intra College Book Selling Application</em> 
<img class="img-fluid" src="https://lh3.googleusercontent.com/0ijoK7nbUAZKERPj-tMIPErcX120T7Qj0DDShZKTCWkzM1rGt0lYwnR681tehwRPPcw=s180-rw" alt="NITT CART LOGO" style="width:55px;height:54px;"/>

<div>
{% load static %}
</div>  


<p class="text-info">The following stock of books with the corresponding record counts is as follows:</p>
<ul class="list-group list-group-flush">
<li class="list-group-item"><strong class="text-info">Books:</strong> {{ num_books }}</li>
<li class="list-group-item"><strong class="text-info">Copies:</strong> {{ num_instances }}</li>
<li class="list-group-item"><strong class="text-info">Copies available:</strong> {{ num_instances_available }}</li>
<li class="list-group-item"><strong class="text-info">Authors:</strong> {{ num_authors }}</li>
</ul>


This page has been visited {{ num_visits }} times.
</div>
</div>
{% endblock %}